/* 改变主题色变量 */
$--color-primary: #D93437;
// $--color-success: #0EBC28;
// $--color-warning: #FFC815;
// $--color-danger: #E82C2C;
// $--color-info: #909399;

.el-color-primary { color: $--color-primary; }
.el-color-backup { color: #9655F0; }
// $--color-text-primary: rgba(0,0,0,0.85);
$--color-text-regular: rgba(0,0,0,0.65);

$--notification-radius: 0px; // 提示圆角值

// tab边框色
$--border-color-lighter: #ECEEF1;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import '~element-ui/lib/theme-chalk/display.css';